[submodule "script.module.nakamori-lib"]
	path = script.module.nakamori-lib
	url = https://github.com/BigRetroMike/nakamori.lib
[submodule "plugin.video.nakamori"]
	path = plugin.video.nakamori
	url = https://github.com/BigRetroMike/nakamori.plugin
[submodule "script.module.nakamoriplayer"]
	path = script.module.nakamoriplayer
	url = https://github.com/BigRetroMike/nakamori.player
[submodule "nakamori.resource"]
	path = nakamori.resource
	url = https://github.com/BigRetroMike/nakamori.resource
[submodule "script.module.nakamori"]
	path = script.module.nakamori
	url = https://github.com/BigRetroMike/nakamori.script
[submodule "service.nakamori"]
	path = service.nakamori
	url = https://github.com/BigRetroMike/nakamori.service
[submodule "KodiStubs"]
	path = KodiStubs
	url = https://github.com/romanvm/Kodistubs
[submodule "kodi-plugin-routing"]
	path = kodi-plugin-routing
	url = https://github.com/da3dsoul/kodi-plugin-routing
[submodule "script.module.pydevd-pycharm"]
	path = script.module.pydevd-pycharm
	url = https://github.com/da3dsoul/script.module.pydevd-pycharm
[submodule "nakamori.contextmenu"]
	path = nakamori.contextmenu
	url = https://github.com/bigretromike/nakamori.contextmenu.git
