<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30001">
        <setting label="30006" type="lsep"/>
        <setting label="30002" type="text" id="ipaddress" default="127.0.0.1"/>
        <setting label="30003" type="number" id="port" default="8111"/>
        <setting label="30004" type="number" id="timeout" default="60"/>
        <setting label="30011" type="lsep"/>
        <setting label="30015" type="text" id="login" default="Default"/>
        <setting label="30016" type="text" id="password" options="hidden"/>
        <setting label="30017" type="text" id="device" default="nakamori"/>
        <setting label="30018" type="text" id="apikey" visible="false"/>
        <setting type="number" id="no_mark" default="0" visible="false"/>
    </category>
    <category label="30054">
        <setting label="30039" type="bool" id="show_continue" default="true"/>
        <setting label="30040" type="bool" id="local_total" default="false"/>
        <setting label="30051" type="bool" id="useSeasons" default="false"/>
        <setting label="30067" type="bool" id="useOriginalThumbnailRatio" default="false"/>
        <setting label="30053" type="bool" id="use_server_sort" default="false" />
        <setting label="30056" type="lsep"/>
        <setting label="30052" type="bool" id="use_server_title" default="false" />
        <setting label="30009" type="select" id="displaylang" default="en" values="en|x-jat|ja|ar|bd|bg|ca|cs|cz|da|dk|de|el|es|et|fi|fr|gl|gr|he|hu|il|it|ko|lt|mn|ms|my|nl|no|pl|pt|pt-br|ro|ru|sk|sl|sr|sv|se|th|tr|uk|ua|vi|zh|zh-hans|zh-hant" enable="eq(-1,false)"/>
        <setting label="30010" type="labelenum" id="title_type" default="Official" values="Official|Main|Synonym|Short" enable="eq(-2,false)"/>
        <setting label="30057" type="lsep"/>
        <setting label="30058" type="bool" id="context_show_info" default="true" />
        <setting label="30059" type="bool" id="context_show_vote_Episode" default="true" />
        <setting label="30060" type="bool" id="context_show_vote_Series" default="true" />
        <setting label="30061" type="bool" id="context_show_play_no_watch" default="true" />
        <setting label="30062" type="bool" id="context_krypton_watched" default="true" />
        <setting label="30012" type="bool" id="context_pick_file" default="true" />
        <setting label="30019" type="bool" id="context_playlist" default="true" />
    </category>
    <category label="30023">
        <setting label="30007" type="lsep"/>
        <setting label="30025" type="bool" id="watchedbox" default="true"/>
        <setting label="30024" type="number" id="watched_mark" default="80"/>
        <setting label="30055" type="number" id="refresh_wait" default="1000"/>
        <setting label="30005" type="bool" id="syncwatched" default="true"/>
        <setting label="30014" type="bool" id="pick_file" default="true"/>
        <setting label="30026" type="lsep"/>
        <setting label="30027" type="number" id="player_sleep" default="5000"/>
    </category>
    <category label="30021">
        <setting label="30022" type="number" id="maxlimit" default="20"/>
        <setting label="30033" type="number" id="maxlimit_tag" default="100"/>
    </category>
    <category label="30031">
        <setting label="30032" type="bool" id="vote_always" default="false"/>
        <setting label="30034" type="bool" id="vote_on_series" default="false"/>
        <setting label="30038" type="lsep"/>
        <setting label="30035" type="bool" id="trakt" default="false"/>
        <setting label="30036" type="bool" id="trakt_scrobble" default="false"/>
        <setting label="30037" type="bool" id="trakt_scrobble_notification" default="false" enable="eq(-1,true)" subsetting="true"/>
    </category>
    <category label="30046">
        <setting label="30045" type="bool" id="hideMiscTags" default="false"/>
        <setting label="30047" type="bool" id="hideArtTags" default="false"/>
        <setting label="30048" type="bool" id="hideSourceTags" default="false"/>
        <setting label="30049" type="bool" id="hideUsefulMiscTags" default="false"/>
        <setting label="30050" type="bool" id="hideSpoilerTags" default="false"/>
    </category>
    <category label="30044">
        <setting label="30041" type="bool" id="skipExtraInfoOnLongSeries" default="false"/>
        <setting label="30043" type="number" id="skipExtraInfoMaxEpisodes" default="50" enable="eq(-1,true)" subsetting="true"/>
        <setting label="30042" type="bool" id="spamLog" default="false"/>
        <setting label="30013" type="bool" id="use_gzip" default="true"/>
        <setting label="30066" type="bool" id="request_nocast" default="false"/>
        <setting label="30063" type="bool" id="remote_debug" default="false"/>
        <setting label="30064" type="text" id="ide_ip" default="localhost" visible="eq(-1,true)"/>
        <setting label="30065" type="number" id="ide_port" default="5376" visible="eq(-2,true)"/>
    </category>
</settings>